img{
    height: 250px;
    width:250px;
    margin: 10px;
}
.carousel-inner p {
    margin-bottom: 15px;
    margin-bottom: 15px;
    color: deeppink;
    font-size: 20px;
    font: bold;
    font-family: cursive;
}
#slide_view {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

#videos {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

.menu1 {
    font-family: Comic Sans MS;
    position: fixed;
    background-color: lightpink;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    margin-top: 0px;
    width: 100%;
}
html {
    scroll-behavior: smooth;

}